# Django
*.log
*.pot
*.pyc
__pycache__/
**/__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
/media
/staticfiles
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.sqlite3
/static/
celerybeat-schedule
dump.rdb
/.coverage
/htmlcov/
.hypothesis/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Python
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/